.form {
  display: flex;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50vh;
}

.input {
  padding: 10px;
  width: 350px;
  background: none;
  border-radius: 10px;
  color: var(--color);
  box-shadow: 0 0 35px var(--color);
  margin: 5px;
}

.label {
  padding: 5px;
  color: white;
}

textarea {
  height: 70px;
  margin: 10px;
  background: none;
  color: var(--color);
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 50%;
  color: var(--color);
  height: 60vh;
  font-family: 'Great Vibes', cursive;
}

.p1 {
  font-size: 20px;
  column-count: 2;
}

.img {
  border-radius: 25px;
  width: 350px;
  height: 350px;
  background-position: center;
  background-size: cover;
  background: var(--color-img) no-repeat;
  transition: 1s;
  opacity: 0.8;
}

.img:hover {
  transform: rotate(90deg);
  transition: 1s;
  box-shadow: 0 0 25px var(--color);
}

@media screen and (max-width: 740px) {
  .form {
    flex-direction: column;
  }
}