.p {
  color: var(--color);
  column-count: 2;
  padding: 20px;
  font-family: 'Indie Flower', cursive;
}

.h1 {
  text-align: center;
  font-family: 'Noticia Text', serif;
  text-transform: uppercase;
  font-size: 30px;
  text-shadow: 10px 10px 3px var(--color);
  color: var(--color);
  padding: 20px;
}

.h3 {
  font-size: 25px;
  letter-spacing: 5px;
  /* font-family: 'Great Vibes', cursive; */
  text-shadow: 5px 5px 1px var(--color);
  transition: 1s;
}

.li {
  text-transform: uppercase;
  padding: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.li:hover {
  transform: scale(1.2);
  color: yellow;
}